<div class="container"
  <div class="row">
    <div class="ID">
      <%= @user.username %>'s tasks:
    </div>
    <%= render 'items/form', locals: { user: @user, item: @item } %>
  </div>
  <div class="row">
    <ul>
      <li><b>Items older than 7 days will automatically be deleted from your list.</b></li>
      <li>Items in <span class="red">red</span> need your attention <b>TODAY</b>.</li>
    </ul>
  </div>
  <div class="row">
    <%= render 'items/item' %>
  </div>
</div>
</div>
