<div class="col-md-6">
   <table class="table">
     <tr>
       <th>Click to remove</th>
       <th>Name of Item</th>
      </tr>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to "   ", user_item_path(item.user, item), remote: true, method: :delete, class: 'glyphicon glyphicon-ok' %></td>
        <td><%= item.name.capitalize %></td>
      </tr>
   <% end %>
 </table>
</div>
