<p>Welcome to Blocitoff!<%= @email %>!</p>

<p>Please confirm your account email through the link below.  Note that you will not
  have access to your newly created account until this happens.
</p>

<p><%= link_to 'Click here to confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
